@media (max-width: 1200px) {
    .container,
    .s-2,
    footer {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .container,
    .s-2,
    footer {
        width: 80%;
    }
    .info-box > h3,
    .info-box > h2 {
        width: 100%;
        text-align: center;
    }

    .form-wrapper,
    .s-2,
    footer {
        flex-direction: column;
        align-items: center;
    }
    .textarea-wrapper {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .icon-wrapper {
        display: flex;
        justify-content: space-around;
    }
    .info-box2 > h2,
    .info-box2 > h3 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 440px){
    .container,
    .s-2,
    footer {
        width: 70%;
    }
    input[type="text"],
    input[type="email"],
    input[type="submit"] {
        width: 300px;
    }
    .icon-wrapper {
        justify-content: space-around;
        width: 100%;
    }
    .info-box2 > h2,
    .info-box2 > h3 {
        width: 100%;
        text-align: center;
    }
}